{% extends "padre.html" %}


{% load static %}

{%  block tittle   %} 

Cabañas smaa-Python
{{mensaje}}

{%  endblock   %} 

{%  block fotomain   %}    
<img class="card-img-top mb-5 mb-md-0" src="https://i.postimg.cc/G2cGXk3f/E350.jpg" alt="..." /></div>

 {%  endblock   %} 

{%  block vehiculo1 %}
Hola
{%  block precio %}
<span class="text-decoration-line-through">$1.00</span>
<span>$10.00</span>

{% endblock %}

{% endblock %}

{% block descripcionmain %} 
                             
 Encontra en PySMA el mejor servicio para disfrutar de tus vacaciones                          

{% endblock %}

{% block fancy %} 
                             
<img class="card-img-top" src="https://i.postimg.cc/wBhmh011/alpina1.jpg" alt="..." />

{% endblock %}